* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: rgb(245, 245, 245);
    color: #555555;
    margin-top: 20px;
}

.container {
    display: block;
    width: 350px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.inline-btn {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}